In [ ]:
!pip install pandas --upgrade

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('yellow_tripdata_2015-01.csv')

In [8]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30

In [4]:
#df2 = df.loc[0:9,:]
df2

NameError: name 'df2' is not defined

In [7]:
df2.at[0,'VendorID']=1
df2

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.00,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.00,0.3,17.80
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.00,0.3,4.80
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.00,0.3,16.30
5,1,2015-01-10 20:33:39,2015-01-10 20:53:52,1,9.00,-73.874374,40.774048,1,N,-73.986977,40.758194,1,27.0,0.5,0.5,6.70,5.33,0.3,40.33
6,1,2015-01-10 20:33:39,2015-01-10 20:58:31,1,2.20,-73.983276,40.726009,1,N,-73.992470,40.749634,2,14.0,0.5,0.5,0.00,0.00,0.3,15.30
7,1,2015-01-10 20:33:39,2015-01-10 20:42:20,3,0.80,-74.002663,40.734142,1,N,-73.995010,40.726326,1,7.0,0.5,0.5,1.66,0.00,0.3,9.96
8,1,2015-01-10 20:33:39,2015-01-10 21:11:35,3,18.20,-73.783043,40.644356,2,N,-73.987595,40.759357,2,52.0,0.0,0.5,0.00,5.33,0.3,58.13
9,1,2015-01-10 20:33:40,2015-01-10 20:40:44,2,0.90,-73.985588,40.767948,1,N,-73.985916,40.759365,1,6.5,0.5,0.5,1.55,0.00,0.3,9.35

In [9]:
df2.to_csv('test1.csv',index=False)

In [ ]:
pd.__version__

In [10]:
df2.to_csv('s3://btest-glue-input-demo/test1.csv',index=False)

In [ ]:
df2.head()

In [ ]:
pd.read_csv('s3://btest-glue-input-demo/test1.csv')

In [14]:


import boto3

In [15]:
client = boto3.client ('glue')

In [ ]:
client.list_jobs()

In [16]:
client.list_triggers()

{'TriggerNames': ['5min'],
 'ResponseMetadata': {'RequestId': '8fb03d81-9c33-495a-97df-307477e59521',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 22 Sep 2023 21:07:20 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '25',
   'connection': 'keep-alive',
   'x-amzn-requestid': '8fb03d81-9c33-495a-97df-307477e59521'},
  'RetryAttempts': 0}}

In [22]:
client.batch_get_triggers(TriggerNames= ['5min'])

{'Triggers': [],
 'TriggersNotFound': ['5min'],
 'ResponseMetadata': {'RequestId': '2f3a02de-dfd1-471e-926c-49b6919a4d7b',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 22 Sep 2023 21:08:31 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '43',
   'connection': 'keep-alive',
   'x-amzn-requestid': '2f3a02de-dfd1-471e-926c-49b6919a4d7b'},
  'RetryAttempts': 0}}

In [17]:
client.delete_trigger(Name= '5min')

{'Name': '5min',
 'ResponseMetadata': {'RequestId': '1ea95d97-a19b-465a-828c-024159a19809',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 22 Sep 2023 21:07:34 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '15',
   'connection': 'keep-alive',
   'x-amzn-requestid': '1ea95d97-a19b-465a-828c-024159a19809'},
  'RetryAttempts': 0}}

In [ ]:
0/5 * * * ? *

In [11]:
pd.read_csv('s3://btest-glue-input-demo/test1.csv')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.00,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.00,0.3,17.80
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.00,0.3,4.80
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.00,0.3,16.30
5,1,2015-01-10 20:33:39,2015-01-10 20:53:52,1,9.00,-73.874374,40.774048,1,N,-73.986977,40.758194,1,27.0,0.5,0.5,6.70,5.33,0.3,40.33
6,1,2015-01-10 20:33:39,2015-01-10 20:58:31,1,2.20,-73.983276,40.726009,1,N,-73.992470,40.749634,2,14.0,0.5,0.5,0.00,0.00,0.3,15.30
7,1,2015-01-10 20:33:39,2015-01-10 20:42:20,3,0.80,-74.002663,40.734142,1,N,-73.995010,40.726326,1,7.0,0.5,0.5,1.66,0.00,0.3,9.96
8,1,2015-01-10 20:33:39,2015-01-10 21:11:35,3,18.20,-73.783043,40.644356,2,N,-73.987595,40.759357,2,52.0,0.0,0.5,0.00,5.33,0.3,58.13
9,1,2015-01-10 20:33:40,2015-01-10 20:40:44,2,0.90,-73.985588,40.767948,1,N,-73.985916,40.759365,1,6.5,0.5,0.5,1.55,0.00,0.3,9.35

In [12]:
!aws s3 cp test2.csv s3://btest-glue-input-demo/sample/test2.csv

upload: ./test2.csv to s3://btest-glue-input-demo/sample/test2.csv

In [ ]:
yellow_tripdata_2015-01.csv

In [2]:
!aws s3 cp yellow_tripdata_2015-01.csv s3://btest-glue-input-demo/full-nyc/

upload: ./yellow_tripdata_2015-01.csv to s3://btest-glue-input-demo/full-nyc/yellow_tripdata_2015-01.csv

In [6]:
import pandas as pd
df2=pd.read_csv('test2.csv')

In [8]:
df2

df2.at[0,'VendorID']=3
df2

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,3,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.00,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.00,0.3,17.80
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.00,0.3,4.80
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.00,0.3,16.30
5,1,2015-01-10 20:33:39,2015-01-10 20:53:52,1,9.00,-73.874374,40.774048,1,N,-73.986977,40.758194,1,27.0,0.5,0.5,6.70,5.33,0.3,40.33
6,1,2015-01-10 20:33:39,2015-01-10 20:58:31,1,2.20,-73.983276,40.726009,1,N,-73.992470,40.749634,2,14.0,0.5,0.5,0.00,0.00,0.3,15.30
7,1,2015-01-10 20:33:39,2015-01-10 20:42:20,3,0.80,-74.002663,40.734142,1,N,-73.995010,40.726326,1,7.0,0.5,0.5,1.66,0.00,0.3,9.96
8,1,2015-01-10 20:33:39,2015-01-10 21:11:35,3,18.20,-73.783043,40.644356,2,N,-73.987595,40.759357,2,52.0,0.0,0.5,0.00,5.33,0.3,58.13
9,1,2015-01-10 20:33:40,2015-01-10 20:40:44,2,0.90,-73.985588,40.767948,1,N,-73.985916,40.759365,1,6.5,0.5,0.5,1.55,0.00,0.3,9.35

In [9]:
df2.to_csv('test2.csv',index=False)

In [10]:
pd.read_parquet('s3://btest-glue-output-demo/sample/run-output_node1695415545916-1-part-block-0-r-00000-snappy.parquet')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.590000,-73.993896,40.750111,1,NaN,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.00,0.3,17.049999
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.300000,-74.001648,40.724243,1,NaN,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.00,0.3,17.799999
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.800000,-73.963341,40.802788,1,NaN,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.00,0.3,10.800000
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.500000,-74.009087,40.713818,1,NaN,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.00,0.3,4.800000
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.000000,-73.971176,40.762428,1,NaN,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.00,0.3,16.299999
5,1,2015-01-10 20:33:39,2015-01-10 20:53:52,1,9.000000,-73.874374,40.774048,1,NaN,-73.986977,40.758194,1,27.0,0.5,0.5,6.70,5.33,0.3,40.330002
6,1,2015-01-10 20:33:39,2015-01-10 20:58:31,1,2.200000,-73.983276,40.726009,1,NaN,-73.992470,40.749634,2,14.0,0.5,0.5,0.00,0.00,0.3,15.300000
7,1,2015-01-10 20:33:39,2015-01-10 20:42:20,3,0.800000,-74.002663,40.734142,1,NaN,-73.995010,40.726326,1,7.0,0.5,0.5,1.66,0.00,0.3,9.960000
8,1,2015-01-10 20:33:39,2015-01-10 21:11:35,3,18.200001,-73.783043,40.644356,2,NaN,-73.987595,40.759357,2,52.0,0.0,0.5,0.00,5.33,0.3,58.130001
9,1,2015-01-10 20:33:40,2015-01-10 20:40:44,2,0.900000,-73.985588,40.767948,1,NaN,-73.985916,40.759365,1,6.5,0.5,0.5,1.55,0.00,0.3,9.350000